<div>
    <nav class="nav">
        <img src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300" alt="" class="logo-left">
        <div class="column-search">
            <input type="text" class="search-input" placeholder="Search for another artist">
            <a href=""><i class="fa fa-search" aria-hidden="true" id="search-icon"></i></a>
        </div>
    </nav>
    <div class="row">
        <div class="inside-container">
            <img src="https://i.scdn.co/image/66302ca80395b6be3600d5f0ef69db9e0c43f4f5" alt="" class="img-title">
            <h1 class="title">Album title</h1>
            <h3 class="artist-year"> Artist - 1234</h3>
            <p class="links">HOME > ARTISTS > ARTIST NAME > ALBUM TITLE</p>
        </div>
    </div>
    <div class="inside-container">
        <div class="row">
            <table class="cd">
                <thead>
                    <tr>
                        <th colspan="2">CD 1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sandwich</td>
                        <td>
                            <a href=""><i class="fa fa-star" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>7UP</td>
                        <td>
                            <a href=""><i class="fa fa-star" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Cookies</td>
                        <td>
                            <a href=""><i class="fa fa-star" aria-hidden="true"></i></a>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td>Cake</td>
                        <td>
                            <a href=""><i class="fa fa-star" aria-hidden="true"></i></a>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td>Ice-cream</td>
                        <td>
                            <a href=""><i class="fa fa-star" aria-hidden="true"></i></a>
                        </td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer"></footer>
</div>
