<div>
    <nav class="nav">
        <a href="/"><img src="/app/images/spotify-icon.png" alt="" class="logo-left"></a>
        <div class="column-search">
            <input type="text" class="search-input" placeholder="Search for another artist">
            <a href=""><i class="fa fa-search" aria-hidden="true" id="search-icon"></i></a>
        </div>
    </nav>
    <div class="row">
        <div class="inside-container">
            <img src="{{albumDetailCtrl.album.images[0].url}}" alt="" class="img-title">
            <h1 class="title">{{albumDetailCtrl.album.name}}</h1>
            <h3 class="artist-year">{{albumDetailCtrl.artist.name}} - {{albumDetailCtrl.album.release_date | limitTo:4}}</h3>
            <p class="links"><a href="/">HOME</a> > <a href="/results">ARTISTS</a> > <a href="/band-albums">{{albumDetailCtrl.artist.name}}</a> > {{albumDetailCtrl.album.name}}</p>
        </div>
    </div>
    <div class="inside-container">
        <div class="row">
            <table class="cd">
                <thead>
                    <tr>
                        <th colspan="2">CD 1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="track in albumDetailCtrl.tracks">
                        <td>{{track.name}}</td>
                        <td>
                            <a href=""><i class="fa fa-star" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer"></footer>
</div>
