<div class="band-detail-container">
    <nav class="nav">
        <img src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300" alt="" class="logo-left">
        <div class="column-search">
            <input type="text" class="search-input" placeholder="Search for another artist">
            <img src="http://www.redcross.ca/CRC/images/icon-search.png" id="search-icon">
        </div>
    </nav>
    <div class="row">
        <div class="inside-container">
            <img src="https://i.scdn.co/image/66302ca80395b6be3600d5f0ef69db9e0c43f4f5" alt="" class="img-title">
            <h1 class="title">Artist name</h1>
            <h3 class="genre">Genre</h3>
            <p class="links">HOME > ARTISTS > ARTIST NAME</p>
        </div>
    </div>
    <div class="inside-container">
        <div class="row">
            <div class="item-album">
                <div class="image">
                    <img src="https://i.scdn.co/image/e2b11f82ba8d5aecc6486fe28225db43a003caa1" alt="">
                </div>
                <div class="data">
                    <p class="album">fdsfs</p>
                    <p class="year">1950</p>
                </div>
            </div>
            <div class="item-album">
                <div class="image">
                        <img src="https://i.scdn.co/image/3a299e917835b053f53441280262f10829bd1c8e" alt="">
                </div>
                <div class="data">
                    <p class="album">fdsfs</p>
                    <p class="year">1958</p>
                </div>
            </div>
        </div>
    </div>
</div>
