<div class="band-detail-container">
    <nav class="nav">
        <img src="/app/images/spotify-icon.png" alt="" class="logo-left" ng-click=bandAlbumsCtrl.toIndex()>
        <div class="column-search">
            <input type="text" class="search-input" placeholder="Search for another artist" ng-model="bandAlbumsCtrl.search">
            <i class="fa fa-search" aria-hidden="true" id="search-icon" ng-click="bandAlbumsCtrl.toResults()"></i>
        </div>
    </nav>
    <div class="row">
        <div class="inside-container">
            <img src="{{bandAlbumsCtrl.artist.images[0].url}}" alt="" class="img-title">
            <h1 class="title">{{bandAlbumsCtrl.artist.name}}</h1>
            <h3 class="genre">{{bandAlbumsCtrl.artist.genres.join(", ")}}</h3>
            <p class="links">
                <a ng-click="bandAlbumsCtrl.toIndex()">HOME</a> > <a ng-click="bandAlbumsCtrl.backToResults()">ARTISTS</a> > {{bandAlbumsCtrl.artist.name}}
            </p>
        </div>
    </div>
    <div class="inside-container">
        <div class="row">
            <div class="item-album" ng-repeat="item in bandAlbumsCtrl.albums" ng-click="bandAlbumsCtrl.toAlbumDetail(item.id)">
                <img src={{item.images[0].url}} alt="">
                <p class="album">{{item.name}}</p>
            </div>
        </div>
    </div>
    <footer class="footer"></footer>
</div>
