<div class="band-detail-container">
    <nav class="nav">
        <a href="/"><img src="/app/images/spotify-icon.png" alt="" class="logo-left"></a>
        <div class="column-search">
            <input type="text" class="search-input" placeholder="Search for another artist">
            <a href=""><i class="fa fa-search" aria-hidden="true" id="search-icon"></i></a>
        </div>
    </nav>
    <div class="row">
        <div class="inside-container">
            <img src="{{bandAlbumsCtrl.artist.images[0].url}}" alt="" class="img-title">
            <h1 class="title">{{bandAlbumsCtrl.artist.name}}</h1>
            <h3 class="genre">{{bandAlbumsCtrl.artist.genres}}</h3> <!--FIX-->
            <p class="links"><a href="/">HOME</a> > <a href="/results">ARTISTS</a> > {{bandAlbumsCtrl.artist.name}}</p>
        </div>
    </div>
    <div class="inside-container">
        <div class="row">
            <a href="/album-detail/{{bandAlbumsCtrl.artist.id}}/{{album.id}}" ng-repeat="album in bandAlbumsCtrl.albums">
                <div class="item-album">
                    <img src={{album.images[0].url}} alt="">
                    <p class="album">{{album.name}}</p>
                    <p class="year">1950</p> <!--FIX-->
                </div>
            </a>
        </div>
    </div>
    <footer class="footer"></footer>
</div>
