<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Workspace/spotifyApp/src/styles.css">
</head>
<body>
    <div class="container">
        <nav class="logo-center">
            <img src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300" alt="">
        </nav>
        <div class="inside-container">
            <div class="row">
                <h4>Welcome to</h4>
                <h1>Spotisearch</h1>
                <p>Search your favourite songs over Spotify, just enter an artist's name in the following search box and enjoy!</p>
            </div>
            <div class="row">
                <input class="search" type="text"/>
            </div>
            <div class="row-favouriteSongs">
                <h2>Favourite songs</h2>
                <div class="favouriteSong">
                    <div class="image">
                        <img src="https://i.scdn.co/image/66302ca80395b6be3600d5f0ef69db9e0c43f4f5" alt="">
                    </div>
                    <div class="data">
                        <h5 class="song">Xxxxxx</h5>
                        <p class="artist">fdsfs</p>
                        <p class="album">sdf</p>
                    </div>
                </div>
                <div class="favouriteSong">
                    <div class="image">
                        <img src="https://i.scdn.co/image/e2b11f82ba8d5aecc6486fe28225db43a003caa1" alt="">
                    </div>
                    <div class="data">
                        <h5 class="song">Xxxxxx</h5>
                        <p class="artist">sdfdsf</p>
                        <p class="album">sdfdsf</p>
                    </div>
                </div>
                <!--<img src="https://i.scdn.co/image/3a299e917835b053f53441280262f10829bd1c8e" alt="">-->
            </div>
        </div>
        <footer>sadasd</footer>
    </div>
</body>
</html>
