<div class="container" ng-controller="myCtrl">
    <nav class="nav">
        <img src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300" alt="" class="logo-center">
    </nav>
    <div class="inside-container">
        <div class="row">
            <h4>Welcome to</h4>
            <h1 class="title">Spotisearch</h1>
            <p>Search your favourite songs over Spotify, just enter an artist's name in the following search box and enjoy!</p>
        </div>
        <div class="row">
            <input type="text" class="search-input" placeholder="Type the name of your favourite artist" ng-model="myCtrl.artist">
            <a href=""><i class="fa fa-search" aria-hidden="true" id="search-icon" ng-click="myCtrl.getArtists()"></i></a>
        </div>
        <div class="row">
            <h2>Favourite songs</h2>
            <div class="item-song">
                <img src="https://i.scdn.co/image/66302ca80395b6be3600d5f0ef69db9e0c43f4f5" alt="">
                <p class="song">Xxxxxx1</p>
                <p class="artist">fdsfs</p>
                <p class="album">sdf</p>
            </div>
            <div class="item-song">
                <img src="https://i.scdn.co/image/e2b11f82ba8d5aecc6486fe28225db43a003caa1" alt="">
                <p class="song">Xxxxxx2</p>
                <p class="artist">sdfdsf</p>
                <p class="album">sdfdsf</p>
            </div>
            <div class="item-song">
                <img src="https://i.scdn.co/image/e2b11f82ba8d5aecc6486fe28225db43a003caa1" alt="">
                <p class="song">Xxxxxx3</p>
                <p class="artist">sdfdsf</p>
                <p class="album">sdfdsf</p>
            </div>
            <div class="item-song">
                <img src="https://i.scdn.co/image/e2b11f82ba8d5aecc6486fe28225db43a003caa1" alt="">
                <p class="song">Xxxxxx4</p>
                <p class="artist">sdfdsf</p>
                <p class="album">sdfdsf</p>
            </div>
            <div class="item-song">
                <img src="https://i.scdn.co/image/e2b11f82ba8d5aecc6486fe28225db43a003caa1" alt="">
                <p class="song">Prueba5</p>
                <p class="artist">sdfdsf</p>
                <p class="album">sdfdsf</p>
            </div>
        </div>
    </div>
    <footer class="footer"></footer>
</div>
