body {
    font-family: Arial, sans-serif;
    background-color: orange;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: 18%;
  background-color: yellow;
  border: 1px solid black;
}

.inside-container {
    width: 80%;
    background-color: magenta;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.row {
    width: 100%;
}

/* Nav */
.logo-center {
    width: 100%;
    background-color: cyan;
    border-bottom: 1px solid black;
}

.logo-center img {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------*/

/* Favourite Song - Artist*/
div[class^="item"] {
    width: 50%;
    background-color: green;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
}

div[class^="item"] .image {
    width: 25%;
    float: left;
}

div[class^="item"] .data{
    width: 75%;
    float: left;
    line-height: 5px;
}

div[class^="item"] .image img {
    width: 75px;
    height: 75px;
    margin: 10px;
}
/*--------*/

/* Search */
input.search-input {
    height:20px;
    text-indent: 30px;
    border-radius: 8px;
    width: 99.4%;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#search-icon {
    position: relative;;
    left: 10px;
    width: 10px;
    height: 10px;
    bottom: 42px;
}
/*--------*/


footer {
    width: 100%;
    background-color: red;
    border-top: 1px solid black;
}
