body {
    font-family: Arial, sans-serif;
    background-color: orange;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: 18%;
  background-color: yellow;
  border: 1px solid black;
}

.inside-container {
    width: 80%;
    background-color: magenta;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.row {
    width: 100%;
}

/* Nav */
.nav {
    width: 100%;
    background-color: cyan;
    border-bottom: 1px solid black;
    overflow:hidden;
}
/*---------*/

/* Logo */
img[class^="logo"] {
    height: 40px;
    width: 40px;
    margin: 20px;
    vertical-align: middle;
}
/*--------*/

/* Nav with logo-center*/
img.logo-center  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------*/

/* Nav with logo-left */
img.logo-left {
    float: left;
}
/*--------*/

/* Title*/
.title {
    font-size: 35px;
    font-weight: bold;
}

.img-title {
    float: left;
    margin: 20px;
    width: 120px;
    height: 120px;
}
/*--------*/

/* Items: Favourite Song - Artist*/
div[class^="item"] {
    width: 49%;
    background-color: green;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 2%;
}

div[class^="item"]:nth-child(even) {
    float: left;
    margin-right: 1%;
}

div[class^="item"]:nth-child(odd) {
    float: right;
    margin-left: 1%;
}

div[class^="item"] .image {
    width: 25%;
    float: left;
}

div[class^="item"] .data{
    width: 75%;
    float: left;
    line-height: 5px;
}

div[class^="item"] .image img {
    width: 75px;
    height: 75px;
    margin: 10px;
    vertical-align: middle;
}
/*--------*/

/* Search */
.search-input {
    height:20px;
    text-indent: 30px;
    border-radius: 8px;
    width: 99.4%;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#search-icon {
    position: relative;;
    left: 10px;
    width: 10px;
    height: 10px;
    bottom: 42px;
}
/*--------*/

/* Search in column*/
.column-search {
    width: 40%;
    float: right;
    margin-right: 10px;
}
/*--------*/

.footer {
    width: 100%;
    background-color: red;
    border-top: 1px solid black;
}

/* Links */
.links {
    clear: both;
}
/*--------*/

/* Table */
table {
	table-layout: auto;
	background-image: url("http://2.bp.blogspot.com/-2wDuT8Iu08E/T_zeoJ0_aBI/AAAAAAAAKyg/w87GKtcYgg4/s1600/Neon+pink+hot+chevron+background+paper+pattern.jpg");
	border: 2px solid rgb(108, 57, 137);
	width: 100%;
	padding: 5px;
    text-indent: 10px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 20px;
}

thead {
	background-color: rgb(167, 66, 244);
    text-align: left;
}

tr {
    width: 100%;
    line-height: 30px;
}

tr td {
	background-color: rgba(193, 160, 219,0.9);

}

tr td:nth-child(2) {
	background-color: rgba(246, 252, 85,0.9);
    width: 5%;
    text-align: center;
    text-indent: 0px;
}

td img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
/*--------*/

/* Responsive */
@media only screen and (max-width: 425px) {
    .inside-container {
        width: 98%;
    }
    [class^="item"] {
        width: 100% !important;
    }
}
/*--------*/
